<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Колонки-с-пропусками" data-toc-modified-id="Колонки-с-пропусками-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Колонки с пропусками</a></span></li><li><span><a href="#Статистика-цен-на-билеты" data-toc-modified-id="Статистика-цен-на-билеты-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Статистика цен на билеты</a></span></li><li><span><a href="#Статистика-цен-на-выбранные-билеты" data-toc-modified-id="Статистика-цен-на-выбранные-билеты-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Статистика цен на выбранные билеты</a></span></li><li><span><a href="#Удаление-отсутствующих-данных" data-toc-modified-id="Удаление-отсутствующих-данных-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Удаление отсутствующих данных</a></span></li><li><span><a href="#Замена-отсутствующих-данных" data-toc-modified-id="Замена-отсутствующих-данных-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Замена отсутствующих данных</a></span></li><li><span><a href="#Ближайшее-значение" data-toc-modified-id="Ближайшее-значение-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Ближайшее значение</a></span></li></ul></div>

In [1]:
import pandas as pd
import numpy as np

# Колонки с пропусками

Имеется набор данных о полетах. К сожалению, в некоторых колонках встречаются пропуски.
Вам необходимо определить те колонки, в которых есть пропуски.

В данной задаче не надо читать или писать данные.
Вместо этого необходимо только реализовать функцию find_null_columns(df).
Эта функция принимает pandas.DataFrame (данные о полетах) и возвращает список имен колонок с пропусками.
Порядок колонок такой же, как и в исходном pandas.DataFrame.

Шаблон для решения
``` python

import pandas as pd
import numpy as np

def find_null_columns(df):
    '''Вставьте ваш код здесь'''
```

Примечание

В качестве отступа внутри функции используется 4 пробела.

Комментарий к примерам

Ниже приведены примеры для лучшего понимания условия задачи.
Однако не стоит ориентироваться на них, как на пример данных, которые нужно читать или выводить, потому что в этой задаче не надо ничего читать и писать.
Нужно только реализовать указанную функцию.
Это означает, что весь код решения должен находиться внутри тела функции и возвращать требуемый результат через инструкцию return. Операции считывания данных (например, input()) или их вывода (например, print()) писать не надо.
Нужно оперировать внутри функции только аргументами, которые подставляются в функцию автоматически.

***Пример входных данных для функции***

flight_id,flight_no,status,aircraft_code

1,,Delayed,B125

2,X77234,Cancelled,

3,Y987544,Departed,C12678


***Пример результата работы функции***

["flight_no", "aircraft_code"]

In [46]:
df = pd.DataFrame({
    'flight_id': [1, 2, 3],
    'flight_no': [np.NaN, 'X77234', 'Y987544'],
    'status': ['Delayed', 'Cancelled', 'Departed'],
    'aircraft_code': ['B125', np.NaN, 'C12678']
})

def find_null_columns(df):
    return df.columns[df.isnull().sum() > 0].to_list()

# Статистика цен на билеты

Дан набор цен о билетах.
Необходимо вычислить среднюю цену, медиану, а также стандартное отклонение.

В данной задаче не надо читать или писать данные.
Вместо этого необходимо только реализовать функцию calculate_statistics(df).
Эта функция принимает pandas.DataFrame - данные о билетах.
Цена (вещественное число) записана в колонке price.

Функция должна вернуть словарь с 3 ключами:
1. mean - содержит среднее
2. median - содержит медиану
3. std - содержит стандартное отклонение

Шаблон для решения
``` python
import pandas as pd
import numpy as np

def calculate_statistics(df):
    '''Вставьте ваш код здесь'''
```

Примечание

В качестве отступа внутри функции используется 4 пробела. 

Комментарий к примерам

Ниже приведены примеры для лучшего понимания условия задачи.
Однако не стоит ориентироваться на них, как на пример данных, которые нужно читать или выводить, потому что в этой задаче не надо ничего читать и писать.
Нужно только реализовать указанную функцию.
Это означает, что весь код решения должен находиться внутри тела функции и возвращать требуемый результат через инструкцию return. Операции считывания данных (например, input()) или их вывода (например, print()) писать не надо.
Нужно оперировать внутри функции только аргументами, которые подставляются в функцию автоматически.

***Пример входных данных для функции***

ticket_id,price

FBD1235F,100.00

GDERWRWM,160.00

TTEHWHER,200.00


***Пример результата работы функции***

{

    "mean": 153.33,   
    "median": 160.00,    
    "std": 50.33
}

In [70]:
df = pd.DataFrame({
    'ticket_id': ['FBD1235F', 'GDERWRWM', 'TTEHWHER', 'hdsjksdkj'],
    'price': [100.00, 160.00, 200.00, np.NaN]})
df

   ticket_id  price
0   FBD1235F  100.0
1   GDERWRWM  160.0
2   TTEHWHER  200.0
3  hdsjksdkj    NaN

In [76]:
def calculate_statistics(df):
    return df.price.agg(['mean', 'median', 'std']).to_dict()

In [77]:
calculate_statistics(df)

{'mean': 153.33333333333334, 'median': 160.0, 'std': 50.33222956847166}

# Статистика цен на выбранные билеты

Дан набор цен о билетах.
Необходимо вычислить среднюю цену, медиану, а также стандартное отклонение для выбранных билетов.
Другими словами надо учитывать только те билеты, у которых идентификатор принадлежит множеству выбранных билетов.

В данной задаче не надо читать или писать данные.
Вместо этого необходимо только реализовать функцию calculate_statistics(df, ticket_ids).
Эта функция принимает два параметра:
1. df - pandas.DataFrame c данными о билетах.
2. ticket_ids  - список из строк, выбранные идентификаторы билетов.
Идентификатор билета записан в колонке ticket_id, а цена в колонке price.

Функция должна вернуть словарь с 3 ключами:
1. mean - содержит среднее
2. median - содержит медиану
3. std - содержит стандартное отклонение

Шаблон для решения
``` python
import pandas as pd
import numpy as np

def calculate_statistics(df, ticket_ids):
    '''Вставьте ваш код здесь'''
```

Примечание

В качестве отступа внутри функции используется 4 пробела. 

Комментарий к примерам

Ниже приведены примеры для лучшего понимания условия задачи.
Однако не стоит ориентироваться на них, как на пример данных, которые нужно читать или выводить, потому что в этой задаче не надо ничего читать и писать.
Нужно только реализовать указанную функцию.
Это означает, что весь код решения должен находиться внутри тела функции и возвращать требуемый результат через инструкцию return. Операции считывания данных (например, input()) или их вывода (например, print()) писать не надо.
Нужно оперировать внутри функции только аргументами, которые подставляются в функцию автоматически.

***Пример входных данных для функции***

FBD1235F,GDERWRWM,TTEHWHER

ticket_id,price

FBD1235F,100.00

GDERWRWM,160.00

TTEHWHER,200.00

NWTCKTSS,340.50


Пример результата работы функции

{

    "mean": 153.33,
    "median": 160.00,
    "std": 50.33

}

In [92]:
df = pd.DataFrame({
    'ticket_id': ['FBD1235F', 'GDERWRWM', 'TTEHWHER', 'NWTCKTSS'],
    'price': [100, 160, 200, 340.50]
})
ticket_ids = ['FBD1235F', 'GDERWRWM', 'TTEHWHER']

In [93]:
def calculate_statistics(df, ticket_ids):
    df = df.set_index('ticket_id')
    return df.loc[ticket_ids].price.agg(['mean', 'median', 'std']).to_dict()

{'mean': 153.33333333333334, 'median': 160.0, 'std': 50.33222956847166}

# Удаление отсутствующих данных

Дан набор цен о билетах, однако в некоторых строчках цена отсутствует.
Необходимо удалить те строчки, в которых хотя бы одно поле nan (отсутствует).

В данной задаче не надо читать или писать данные.
Вместо этого необходимо только реализовать функцию remove_nan(df).
Эта функция принимает pandas.DataFrame - набор данных о билетах.
Она должна вернуть новый pandas.DataFrame в котором удалены строчки с nan.
Порядок остальных строк должен быть таким же, как и в исходном наборе данных.

Шаблон для решения
``` python
import pandas as pd
import numpy as np

def remove_nan(df):
    '''Вставьте ваш код здесь'''
```

Примечание

В качестве отступа внутри функции используется 4 пробела. 

Комментарий к примерам

Ниже приведены примеры для лучшего понимания условия задачи.
Однако не стоит ориентироваться на них, как на пример данных, которые нужно читать или выводить, потому что в этой задаче не надо ничего читать и писать.
Нужно только реализовать указанную функцию.
Это означает, что весь код решения должен находиться внутри тела функции и возвращать требуемый результат через инструкцию return. Операции считывания данных (например, input()) или их вывода (например, print()) писать не надо.
Нужно оперировать внутри функции только аргументами, которые подставляются в функцию автоматически.

***Пример входных данных для функции***

ticket_id,flight_id,price

FBD1235F,XY2554,100.00

XTT2F576,,20.00

QTH36773,NF0514,

GDERWRWM,AB4662,160.00

TTEHWHER,CD9962,200.00

***Пример результата работы функции***

ticket_id,flight_id,price

FBD1235F,XY2554,100.0

GDERWRWM,AB4662,160.0

TTEHWHER,CD9962,200.0

In [3]:
df = pd.DataFrame({
    'ticket_id': ['FBD1235F', 'XTT2F576', 'QTH36773', 'GDERWRWM', 'TTEHWHER'],
    'flight_id': ['XY2554', np.NaN, 'NF0514', 'AB4662', 'CD9962'],
    'price': [100, 20, np.NaN, 160, 200]
})
df

  ticket_id flight_id  price
0  FBD1235F    XY2554  100.0
1  XTT2F576       NaN   20.0
2  QTH36773    NF0514    NaN
3  GDERWRWM    AB4662  160.0
4  TTEHWHER    CD9962  200.0

In [5]:
def remove_nan(df):
    return df.dropna()

In [6]:
remove_nan(df)

  ticket_id flight_id  price
0  FBD1235F    XY2554  100.0
3  GDERWRWM    AB4662  160.0
4  TTEHWHER    CD9962  200.0

# Замена отсутствующих данных

Дан набор цен о билетах, однако в некоторых строчках цена и часть других полей отсутствует.
Необходимо заменить средним значением отсутствующие цены.
Другие отсутствующие поля надо оставить как есть. 

В данной задаче не надо читать или писать данные.
Вместо этого необходимо только реализовать функцию 
``` python
replace_nan(df).
```
Эта функция принимает pandas.DataFrame - набор данных о билетах. Цена записана к колонке price.
Эта функция должна вернуть новый pandas.DataFrame в котором отсутствующие цены заменены средним значением.
Остальные отступающие поля оставить как есть.
Порядок всех строк должен быть таким же, как и в исходном наборе данных.

Шаблон для решения
``` python
import pandas as pd
import numpy as np

def replace_nan(df):
    '''Вставьте ваш код здесь'''
```

Примечание

В качестве отступа внутри функции используется 4 пробела. 

В общем случае замена отсутствующих значений посчитанным средним значением - не самая хорошая практика.
Во многих ситуациях среднее значение плохо характеризует "типичное" значение.

Комментарий к примерам

Ниже приведены примеры для лучшего понимания условия задачи.
Однако не стоит ориентироваться на них, как на пример данных, которые нужно читать или выводить, потому что в этой задаче не надо ничего читать и писать.
Нужно только реализовать указанную функцию.
Это означает, что весь код решения должен находиться внутри тела функции и возвращать требуемый результат через инструкцию return. Операции считывания данных (например, input()) или их вывода (например, print()) писать не надо.
Нужно оперировать внутри функции только аргументами, которые подставляются в функцию автоматически.

***Пример входных данных для функции***

ticket_id,flight_id,operator_id,price

FBD1235F,XY2554,SKND,100.00

XTT2F576,XY2554,,20.00

QTH36773,NF0514,,

GDERWRWM,AB4662,DTTG,10.00

TTEHWHER,CD9962,AMAR,200.00


***Пример результата работы функции***

ticket_id,flight_id,operator_id,price

FBD1235F,XY2554,SKND,100.00

XTT2F576,XY2554,,20.00

QTH36773,NF0514,,82.50

GDERWRWM,AB4662,DTTG,10.00

TTEHWHER,CD9962,AMAR,200.00

In [7]:
df = pd.DataFrame({
    'ticket_id': ['FBD1235F', 'XTT2F576', 'QTH36773', 'GDERWRWM', 'TTEHWHER'],
    'flight_id': ['XY2554', 'XY2554', 'NF0514', 'AB4662', 'CD9962'],
    'operator_id': ['SKND', np.NaN, np.NaN, 'DTTG', 'AMAR'],
    'price': [100, 20, np.NaN, 10, 200]
})
df

  ticket_id flight_id operator_id  price
0  FBD1235F    XY2554        SKND  100.0
1  XTT2F576    XY2554         NaN   20.0
2  QTH36773    NF0514         NaN    NaN
3  GDERWRWM    AB4662        DTTG   10.0
4  TTEHWHER    CD9962        AMAR  200.0

In [8]:
def replace_nan(df):
    df['price'] = df.price.fillna(df.price.mean())
    return df

In [9]:
replace_nan(df)

  ticket_id flight_id operator_id  price
0  FBD1235F    XY2554        SKND  100.0
1  XTT2F576    XY2554         NaN   20.0
2  QTH36773    NF0514         NaN   82.5
3  GDERWRWM    AB4662        DTTG   10.0
4  TTEHWHER    CD9962        AMAR  200.0

# Ближайшее значение

Дан набор цен о билетах. Кроме того, задана некоторая выбранная цена price.
Необходимо найти ту строчку, в которой значение цены самое близкое к выбранной цене.

В данной задаче не надо читать или писать данные.
Вместо этого необходимо только реализовать функцию find_nearest(df, price).
Эта функция принимает два аргумента:
1. df - pandas.DataFrame - набор данных о билетах. Цена записана к колонке price.
2. price - вещественное число. Выбранная цена.

Эта функция должна вернуть pandas.Series - всю строчку целиком, которое содержит наиближайшее значение к выбранной цене.

Шаблон для решения
``` python
import pandas as pd
import numpy as np

def find_nearest(df, price):
    '''Вставьте ваш код здесь'''
```

Примечание

В качестве отступа внутри функции используется 4 пробела. 

Комментарий к примерам

Ниже приведены примеры для лучшего понимания условия задачи.
Однако не стоит ориентироваться на них, как на пример данных, которые нужно читать или выводить, потому что в этой задаче не надо ничего читать и писать.
Нужно только реализовать указанную функцию.
Это означает, что весь код решения должен находиться внутри тела функции и возвращать требуемый результат через инструкцию return. Операции считывания данных (например, input()) или их вывода (например, print()) писать не надо.
Нужно оперировать внутри функции только аргументами, которые подставляются в функцию автоматически.

***Пример входных данных для функции***

23.00

ticket_id,flight_id,operator_id,price

FBD1235F,XY2554,SKND,100.00

XTT2F576,XY2554,,20.00

QTH36773,NF0514,,

GDERWRWM,AB4662,DTTG,10.00

TTEHWHER,CD9962,AMAR,200.00


***Пример результата работы функции***

XTT2F576,XY2554,,20.0

In [2]:
df = pd.DataFrame({
    'ticket_id': ['FBD1235F', 'XTT2F576', 'QTH36773', 'GDERWRWM', 'TTEHWHER'],
    'flight_id': ['XY2554', 'XY2554', 'NF0514', 'AB4662', 'CD9962'],
    'operator_id': ['SKND', np.NaN, np.NaN, 'DTTG', 'AMAR'],
    'price': [100, 20, np.NaN, 10, 200]
})
df

  ticket_id flight_id operator_id  price
0  FBD1235F    XY2554        SKND  100.0
1  XTT2F576    XY2554         NaN   20.0
2  QTH36773    NF0514         NaN    NaN
3  GDERWRWM    AB4662        DTTG   10.0
4  TTEHWHER    CD9962        AMAR  200.0

In [3]:
price = 23.00

In [6]:
min(abs(price - df.price ))

3.0

In [45]:
def find_nearest(df, price):
    return pd.Series(df[(price - df['price']) == min(abs(price - df.price))].values.T.flatten())

In [39]:
find_nearest(df, price)

  ticket_id flight_id operator_id  price
1  XTT2F576    XY2554         NaN   20.0

In [46]:
type(pd.Series(df[(price - df['price']) == min(abs(price - df.price))].values.T.flatten()))

pandas.core.series.Series