<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Красивый-вывод" data-toc-modified-id="Красивый-вывод-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Красивый вывод</a></span></li><li><span><a href="#Вещественное-сравнение" data-toc-modified-id="Вещественное-сравнение-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Вещественное сравнение</a></span></li><li><span><a href="#Неоднородные-данные" data-toc-modified-id="Неоднородные-данные-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Неоднородные данные</a></span></li><li><span><a href="#Дубликаты" data-toc-modified-id="Дубликаты-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Дубликаты</a></span></li><li><span><a href="#Популярный-рейс" data-toc-modified-id="Популярный-рейс-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Популярный рейс</a></span></li><li><span><a href="#Фильтрация" data-toc-modified-id="Фильтрация-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Фильтрация</a></span></li><li><span><a href="#Группировка" data-toc-modified-id="Группировка-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Группировка</a></span></li><li><span><a href="#Общие-идентификаторы" data-toc-modified-id="Общие-идентификаторы-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Общие идентификаторы</a></span></li><li><span><a href="#Полеты-по-расписанию" data-toc-modified-id="Полеты-по-расписанию-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Полеты по расписанию</a></span></li><li><span><a href="#Статистика-рейсов" data-toc-modified-id="Статистика-рейсов-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>Статистика рейсов</a></span></li></ul></div>

# Красивый вывод

Вам дан набор данных о бронированиях со следующими полями:
1. book_ref - номер бронирование
2. book_date - дата бронирования
3. total_amount - цена (c копейками)

Необходимо вывести эти данные в красивом формате:
Номер бронирования ХХХ, забронирован YYYY. Цена: M руб. N коп.

В этой задаче надо написать весь код самостоятельно (а не реализовывать какую-то конкретную функцию).
Решение должно само читать входные данные и писать ответ в заданном формате.

***Формат входных данных***

На первой строчке записано натуральное число N.
На последующих N строчках записаны данные об очередном бронировании.
Порядок полей в строчке: book_ref, book_date, total_amount.
Все поля разделены одной запятой. В самих данных запятых нет.

***Формат выходных данных***

N строчек. На каждой строчек очередное бронирование, оформленное в красивом формате.

***Пример входных данных***

3

YKW89OEOCITYODO,2018-07-24T14:40,1000.00

XMV928G6WUX582L,2020-09-09T06:45,9500.30

0PEZX4TUY3I4ZRZ,2018-03-31T04:33,5320.45


***Пример выходных данных***

Номер бронирования YKW89OEOCITYODO, забронирован 2018-07-24T14:40. Цена: 1000 руб. 00 коп.

Номер бронирования XMV928G6WUX582L, забронирован 2020-09-09T06:45. Цена: 9500 руб. 30 коп.

Номер бронирования 0PEZX4TUY3I4ZRZ, забронирован 2018-03-31T04:33. Цена: 5320 руб. 45 коп.

In [3]:
n = int(input())
res = ''
for i in range(n):
  book_ref, book_date, total_amount = input().split(',')
  res += 'Номер бронирования ' + book_ref + ', забронирован ' + book_date + '. ' + 'Цена: ' + total_amount.split('.')[0] + ' руб. ' + total_amount.split('.')[1] + ' коп.\n'
print(res)

3
YKW89OEOCITYODO,2018-07-24T14:40,1000.00
XMV928G6WUX582L,2020-09-09T06:45,9500.30
0PEZX4TUY3I4ZRZ,2018-03-31T04:33,5320.45
Номер бронирования YKW89OEOCITYODO, забронирован 2018-07-24T14:40. Цена: 1000 руб. 00 коп.
Номер бронирования XMV928G6WUX582L, забронирован 2020-09-09T06:45. Цена: 9500 руб. 30 коп.
Номер бронирования 0PEZX4TUY3I4ZRZ, забронирован 2018-03-31T04:33. Цена: 5320 руб. 45 коп.

# Вещественное сравнение

Необходимо реализовать функцию is_bigger(num1, num2, eps).
Эта функция принимает 3 параметра:
1. num1 - первое вещественное число
2. num2 - второе вещественное число
3. eps - эпсилон (вещественное число).

Эта функция возвращает логическое True, если число num1 больше или равно num2 хотя бы на епсилон. 
В противном случае она должна вернуть логическое False.

В данной задаче не надо читать или писать данные.
Вместо этого нужно только реализовать функцию.

Шаблон для решения
```python
def is_bigger(num1, num2, eps):
    '''Вставьте ваш код здесь'''
```

Примечание

В качестве отступа внутри функции используется 4 пробела.

В целом при сравнении вещественных чисел стоит добавлять точность eps, так как из-за особенностей их представления в компьютере возможны погрешности.

Комментарий к примерам

Ниже приведены примеры для лучшего понимания условия задачи.
Однако не стоит ориентироваться на них, как на пример данных, которые нужно читать или выводить, потому что в этой задаче не надо ничего читать и писать.
Нужно только реализовать указанную функцию.
Это означает, что весь код решения должен находиться внутри тела функции и возвращать требуемый результат через инструкцию return. Операции считывания данных (например, input()) или их вывода (например, print()) писать не надо.
Нужно оперировать внутри функции только аргументами, которые подставляются в функцию автоматически.

**Пример входных данных для функции**

0.6 0.5 0.01

1.0 0.9 0.3

1.0 0.9 0.1


**Пример результата работы функции**

True

False

True

In [1]:
def is_bigger(num1, num2, eps):
    return num1 >= num2 + eps

# Неоднородные данные

Есть набор данных о посадочных талонах, который поступают от разных подрядчиков.
Поэтому сами данные неоднородны.
Вам необходимо реализовать логику, которая приведет все данные к одному формату.

Входные данные представляют собой список следующих полей:
1. ticket_no
2. flight_id
3. boarding_no
4. seat_no

Ниже указано то, какие данные могут быть в каждом из полей и как это поле нужно преобразовать.

Поле ticket_no всегда содержит строчку, а поле flight_id всегда содержит число.
Возможные значения boarding_no:
1. Строчка, начинающееся с "Номер:"
2. Строчка (начинается не с "Номер:")
Необходимо все значения привести к строчке, без начала "Номер:"

Возможные значения seat_no:
1. Ряд и место, разделенные символом ";"
2. Ряд и место слитно
Необходимо все значения привести к написанию, через точку с запятой (символ ";").
Ряд - это целое число от 1 до 299. Число пишится без ведущих нулей - 1, а не 01.
Место - это буква от "A" до "H".
Формат выходных данных

Необходимо вывести N строчек.
В каждой строчке записаны исправленные поля ticket_no, flight_id, boarding_no, seat_no.
Все поля разделены одной запятой.

**Пример входных данных**

5

EXGJGJ521,1,252st,10;C

2Jw2n5l,2,753ss,1F

KUIK2YL,3,Номер:327ggs,30A

8XSOVGVNDQ,4,Номер:mn001,51;A

DRXGH62d,5,7733d,62;A

**Пример выходных данных**

EXGJGJ521,1,252st,10;C

2Jw2n5l,2,753ss,1;F

KUIK2YL,3,327ggs,30;A

8XSOVGVNDQ,4,mn001,51;A

DRXGH62d,5,7733d,62;A

In [15]:
n = int(input())
rez = []
for i in range(n):
    s = ''
    ticket_no, flight_id, boarding_no, seat_no = input().split(',')
    
    if 'Номер:' in boarding_no:
        boarding_no = boarding_no.replace('Номер:', '')
    
    if not ';' in seat_no:
    
        num = ''
    
        for i in seat_no:
            if i.isdigit():
                num += i
            else:
                break
        seat = num + ';' + seat_no.replace(num, '')
    else:
        seat = seat_no
               
    rez.append(','.join([ticket_no, flight_id, boarding_no, seat]))

for i in rez:
    print(i)

5
EXGJGJ521,1,252st,10;C
2Jw2n5l,2,753ss,1F
KUIK2YL,3,Номер:327ggs,30A
8XSOVGVNDQ,4,Номер:mn001,51;A
DRXGH62d,5,7733d,62;A
EXGJGJ521,1,252st,10;C
2Jw2n5l,2,753ss,1;F
KUIK2YL,3,327ggs,30;A
8XSOVGVNDQ,4,mn001,51;A
DRXGH62d,5,7733d,62;A

# Дубликаты

К сожалению, обнаружилось, что в данных о посадочных талонах есть дубликаты (повторяющиеся значения).
Дубликатом считаются строки, у которых одинаковы одновременно поля ticket_no и flight_id.

Необходимо убрать дубликаты строк и оставить только первые вхождения.
Порядок записей менять не надо.

В этой задаче надо написать весь код самостоятельно (а не реализовывать какую-то конкретную функцию).
Решение должно само читать входные данные и писать ответ в заданном формате.

***Формат входных данных***

На первой строчке записано натуральное число N.
На последующих N строчках записаны данные об очередном талоне.
Порядок полей в строчке: ticket_no, flight_id, boarding_no, seat_no.
Все поля разделены одной запятой. В самих данных запятых нет.

***Формат выходных данных***

Необходимо вывести все исходные строчки, без дубликатов.
В каждой строчке записаны исходные поля ticket_no, flight_id, boarding_no, seat_no.
Все поля разделены одной запятой.

***Пример входных данных***

7

EXGJGJ521,1,252st,10;C

EXGJGJ521,1,252st,11;C

2Jw2n5l,2,753ss,16;F

KUIK2YL,3,327ggs,30;A

KUIK2YL,3,328ggs,30;B

8XSOVGVNDQ,4,mn001,51;A

DRXGH62d,5,7733d,62;A


***Пример выходных данных***

EXGJGJ521,1,252st,10;C

2Jw2n5l,2,753ss,16;F

KUIK2YL,3,327ggs,30;A

8XSOVGVNDQ,4,mn001,51;A

DRXGH62d,5,7733d,62;A

In [8]:
n = int(input())
uniq_ticket_no = []
uniq_flight_id = []
rez = ''
for i in range(n):
    s = input()
    ticket_no, flight_id = s.split(',')[0], s.split(',')[1]
    if (ticket_no in uniq_ticket_no) and (flight_id in uniq_flight_id):
        continue
    else:
        uniq_ticket_no.append(ticket_no)
        uniq_flight_id.append(flight_id)
        rez += s + '\n'
print(rez)

7
EXGJGJ521,1,252st,10;C
EXGJGJ521,1,252st,11;C
2Jw2n5l,2,753ss,16;F
KUIK2YL,3,327ggs,30;A
KUIK2YL,3,328ggs,30;B
8XSOVGVNDQ,4,mn001,51;A
DRXGH62d,5,7733d,62;A
EXGJGJ521,1,252st,10;C
2Jw2n5l,2,753ss,16;F
KUIK2YL,3,327ggs,30;A
8XSOVGVNDQ,4,mn001,51;A
DRXGH62d,5,7733d,62;A

# Популярный рейс

Необходимо найти идентификатор самого популярного рейса.
Другими словами - тот flight_id, который встречался наибольшее количество раз во входных данных.
Если таких рейсов несколько, то необходимо вывести их все на одной строке через пробел в порядке возрастания их значения.

В этой задаче надо написать весь код самостоятельно (а не реализовывать какую-то конкретную функцию).
Решение должно само читать входные данные и писать ответ в заданном формате.

**Формат входных данных**

На первой строчке записано натуральное число N.
На последующих N строчках записаны данные об очередном талоне.
Порядок полей в строчке: ticket_no, flight_id, boarding_no, seat_no.
В поле flight_id записано целое число больше 0.
Все поля разделены одной запятой. В самих данных запятых нет.

**Формат выходных данных**

Одна строчка, содержащая все flight_id для самых популярных рейсов.
Flight_id разделены пробелом и идут в порядке возрастания значения (как числа).

Примечание

Обратите внимание, что строчки и числа сравниваются по-разному.
Так, например, строка "3" больше строчки "10".
Иными словами в ответе должно быть 3,10 вместо "10","3".

***Пример входных данных***

5

EXGJGJ521,3,252st,10;C

2Jw2n5l,3,252st,16;F

KUIK2YL,1,Номер:327ggs,30;A

8XSOVGVNDQ,1,Номер:327ggs,51;A

DRXGH62d,5,7733d,62;A


***Пример выходных данных***

1 3

In [30]:
n = int(input())
# vhod = ['EXGJGJ521,3,252st,10;C', '2Jw2n5l,3,252st,16;F',
#        'KUIK2YL,1,Номер:327ggs,30;A', '8XSOVGVNDQ,1,Номер:327ggs,51;A', 'DRXGH62d,5,7733d,62;A']
d = {}
for i in range(n):
    flight_id = int(input().split(',')[1])
    if flight_id in d.keys():
        d[flight_id] += 1
    else:
        d[flight_id] = 1

sorted(d, reverse=-1)
for keys, values in sorted(d.items()):
    if values == max(d.values()):
        print(keys, end = ' ')

5
EXGJGJ521,3,252st,10;C
2Jw2n5l,3,252st,16;F
KUIK2YL,1,Номер:327ggs,30;A
8XSOVGVNDQ,1,Номер:327ggs,51;A
DRXGH62d,5,7733d,62;A
1 3

# Фильтрация

Задан набор flight_id, которые интересуют нас для дальнейшей работы.
Необходимо отфильтровать исходный набор данных по этим flight_id.
Другими словами вывести только те записи, у которых flight_id один из интересующих (см. формат входных данных).

В этой задаче надо написать весь код самостоятельно (а не реализовывать какую-то конкретную функцию).
Решение должно само читать входные данные и писать ответ в заданном формате.

***Формат входных данных***

На первой строчке записаны интересующие flight_id, разделенные запятой.
На второй строчке записано натуральное число N.
На последующих N строчках записаны данные об очередном талоне.
Порядок полей в строчке: ticket_no, flight_id, boarding_no, seat_no.
Все поля разделены одной запятой. В самих данных запятых нет.

***Формат выходных данных***

Необходимо вывести те строчки, чьи flight_id подходят под условие.
Порядок строк оставить такой же, как и во входных данных.

***Пример входных данных***

1,2

5

EXGJGJ521,1,252st,10;C

2Jw2n5l,2,753ss,16;F

KUIK2YL,3,327ggs,30;A

8XSOVGVNDQ,4,mn001,51;A

DRXGH62d,5,7733d,62;A


***Пример выходных данных***

EXGJGJ521,1,252st,10;C

2Jw2n5l,2,753ss,16;F

In [1]:
et = input().split(',')
n = int(input())
rez = []
for i in range(n):
    s = input()
    if s.split(',')[1] in et:
        rez.append(s)
for i in rez:
    print(i)

1,2
5
EXGJGJ521,1,252st,10;C
2Jw2n5l,2,753ss,16;F
KUIK2YL,3,327ggs,30;A
8XSOVGVNDQ,4,mn001,51;A
DRXGH62d,5,7733d,62;A
EXGJGJ521,1,252st,10;C
2Jw2n5l,2,753ss,16;F

# Группировка

Вам дана информация о посадочных талонах.
Необходимо сгруппировать данные по вылетам - для каждого рейса определить, какие места были куплены.
Более формально: для одного flight_id собрать все возможные seat_no.

В этой задаче надо написать весь код самостоятельно (а не реализовывать какую-то конкретную функцию).
Решение должно само читать входные данные и писать ответ в заданном формате.

***Формат входных данных***

На первой строчке записано натуральное число N.
На последующих N строчках записаны данные об очередном талоне.
Порядок полей в строчке: ticket_no, flight_id, boarding_no, seat_no.
Поле flight_id содержит натуральное число.
Поле seat_no содержит номер места.
Все поля разделены одной запятой. В самих данных запятых нет.

***Формат выходных данных***

Пары строк - на первой строке очередной flight_id, а на второй строке все seat_no через запятую.
Выводить flight_id необходимо по возрастанию (как числа).
Номера мест seat_no внутри одного рейса оставить таким же, как и во входных данных.

***Примечание***

Обратите внимание, что строчки и числа сравниваются по-разному.
Так, например, строка "3" больше строчки "10".
Иными словами в ответе должно быть 3,10 вместо "10","3".

***Пример входных данных***

5

EXGJGJ521,3,252st,10;C

2Jw2n5l,3,252st,16;F

KUIK2YL,1,Номер:327ggs,30;A

8XSOVGVNDQ,1,Номер:327ggs,51;A

DRXGH62d,5,7733d,62;A


***Пример выходных данных***

1

30;A,51;A

3

10;C,16;F

5

62;A

In [12]:
n = int(input())
rez = {}
for i in range(n):
    s = input().split(',')
    flight_id, seat_no = int(s[1]), s[3]
    if flight_id in rez.keys():
        rez[flight_id].append(seat_no)
    else:
        rez[flight_id] = [seat_no]
for keys, values in sorted(rez.items()):
    print(keys, ','.join(values), sep='\n')

2
EXGJGJ521,3,252st,10;C
2Jw2n5l,30,252st,16;F
3
10;C
30
16;F

# Общие идентификаторы

Обнаружилось, что несколько аналитиков продублировали работу друг друга.
Теперь нужно понять, какие рейсы обработали несколько раз.

Вам дано несколько наборов идентификаторов рейсов (набор flight_id). 
Необходимо определить те идентификаторы, которые присутствуют в каждом наборе. 

В этой задаче надо написать весь код самостоятельно (а не реализовывать какую-то конкретную функцию).
Решение должно само читать входные данные и писать ответ в заданном формате.

***Формат выходных данных***

На первой строчке записано натуральное число N.
На последующих N строчках записаны идентификаторы тех рейсов, которые обработал очередной аналитик.
На одной строчке все идентификаторы записаны через запятую. В самих данных запятых нет.
Каждый идентификатор рейса (flight_id) - это натуральное число.

***Формат выходных данных***

Одна строчка. Выведите все общие идентификаторы в порядке возрастания их значения (как числа).
В качестве разделителя используйте запятую.

***Примечание***

Обратите внимание, что строчки и числа сравниваются по-разному.
Так, например, строка "3" больше строчки "10".
Иными словами в ответе должно быть 3,10 вместо "10","3".

***Пример входных данных***

3

7,3,2

1,2,3,4,5

3,2

***Пример выходных данных***

2,3

In [15]:
n = int(input())
rez = set([int(i) for i in input().split(',')])
for i in range(n-1):
    flight_id = set([int(f) for f in input().split(',')])
    for j in rez:
        rez = rez.intersection(flight_id)
print(','.join(list(map(str, sorted(rez)))))

3
10,2,18
10,2,19
10,2,8
2,10

# Полеты по расписанию

Вам даны данные о рейсах:
1. scheduled_departure - Время вылета по расписанию
2. scheduled_arrival - Время прилёта по расписанию
3. actual_departure - Фактическое время вылета
4. actual_arrival - Фактическое время прилёта

Считается, что самолет выполнил рейс по расписанию, если фактическое время отличаются меньше, чем на 30 минут от времени по расписанию (надо учитывать разницу как для вылета, так и прилета). 
Другими словами и для вылета и для прилета разница во времени должна быть меньше, чем 1800 секунд.
Определите по данным, успел ли совершиться полет по расписанию.

В этой задаче надо написать весь код самостоятельно (а не реализовывать какую-то конкретную функцию).
Решение должно само читать входные данные и писать ответ в заданном формате.

***Формат входных данных***

На первой строчке записано натуральное число N.
На последующих N строчках записаны данные об очередном полете.
Порядок полей в строчке: scheduled_departure, scheduled_arrival, actual_departure, actual_arrival.
Все поля разделены одной запятой. В самих данных запятых нет.

Время во всех полях записано в формате: ГГГГ-ММ-ДДTЧЧ:ММ

***Формат выходных данных***

N строчек. На каждой строчке Yes, если соответствующий рейс успел по расписанию и No наоборот.

***Пример входных данных***

3

2020-07-18T16:00,2020-07-18T19:00,2020-07-18T16:20,2020-07-18T19:10

2020-07-18T16:00,2020-07-18T19:50,2020-07-18T16:20,2020-07-18T19:10

2020-07-18T16:00,2020-07-18T19:00,2020-07-18T16:20,2020-07-18T19:50


Пример выходных данных

Yes

No

No

In [16]:
from datetime import datetime

In [52]:
n = int(input())
rez = []
for i in range(n):
    scheduled_departure, scheduled_arrival, actual_departure, actual_arrival = input().split(',')
    scheduled_departure = datetime.strptime(scheduled_departure, "%Y-%m-%dT%H:%M")
    scheduled_arrival = datetime.strptime(scheduled_arrival, "%Y-%m-%dT%H:%M")
    actual_departure = datetime.strptime(actual_departure, "%Y-%m-%dT%H:%M")
    actual_arrival = datetime.strptime(actual_arrival, "%Y-%m-%dT%H:%M")
    
    delta_departure = abs((actual_departure - scheduled_departure).total_seconds())
    delta_arrival = abs((actual_arrival - scheduled_arrival).total_seconds())
    
    rez.append( 'Yes' if (delta_departure < 1800) and (delta_arrival < 1800) else 'No')

for i in rez:
    print(i)

3
2020-07-18T16:00,2020-07-18T19:00,2020-07-18T16:20,2020-07-18T19:10
2020-07-18T16:00,2020-07-18T19:50,2020-07-18T16:20,2020-07-18T19:10
2020-07-18T16:00,2020-07-18T19:00,2020-07-18T16:20,2020-07-18T19:50
Yes
No
No

# Статистика рейсов

Статус рейса может принимать одно из следующих значений:
1. Scheduled. Рейс доступен для бронирования. Это происходит за 30 дней до плановой даты вылета; до этого запись о рейсе не существует в базе данных.
2. On Time. Рейс доступен для регистрации (за сутки до плановой даты вылета) и не задержан.
3. Delayed. Рейс доступен для регистрации (за сутки до плановой даты вылета), но задержан.
4. Departed. Самолет уже вылетел и находится в воздухе.
5. Arrived. Самолет прибыл в пункт назначения.
6. Cancelled. Рейс отменён.

Вам дан набор статусов для каждого из рейса. 
Необходимо посчитать статистику - сколько рейсов в каждом из статусов.

В этой задаче надо написать весь код самостоятельно (а не реализовывать какую-то конкретную функцию).
Решение должно само читать входные данные и писать ответ в заданном формате.

***Формат входных данных***

На первой строчке записано натуральное число N.
На последующих N строчках записаны данные об очередном рейсе.
Порядок полей в строчке: flight_id, status.
Поле flight_id содержит идентификатор рейса - натуральное число.
Поле status содержит статус рейса - строка, одно из 6 значений.
Все поля разделены одной запятой. В самих данных запятых нет.

***Формат выходных данных***

6 строчек. На каждой строчке - целое число, соответвующее количеству рейсов со статусом с таким же номером.
То есть на первой строчке - количество рейсов со статусом Scheduled, на второй - со статусом On Time и т.д.

***Пример входных данных***

3

103,Scheduled

432232,On Time

3051,Scheduled


***Пример выходных данных***

2

1

0

0

0

0

In [56]:
data = {'Scheduled': 0,
       'On Time': 0,
       'Delayed': 0,
       'Departed': 0,
       'Arrived': 0,
       'Cancelled': 0}

n = int(input())
for i in range(n):
    status = input().split(',')[1]
    data[status] += 1

for values in data.values():
    print(values)

3
103,Scheduled
432232,On Time
3051,Scheduled
2
1
0
0
0
0